.modal { width: 75% !important; top: 5% !important; max-height: 100% !important; }
.modal-footer { background-color: #f2f2f2 !important; }
.card { cursor: pointer !important; }
h1 { color: black !important; }
